    *{
        box-sizing: border-box;
    }
    .img-profile1 > center > img{
        width: 90%;
    }
    article > p{
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 108%;
        line-height: 170%;
        color: #343434;
        text-align: justify;
    }
    .title-article-div{
        margin-top: 8%;
    }
    span.angka{
        font-size: 170%;
        font-weight: bold;
        font-family: merriweather;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    span.title-article{
        font-size: 140%;
        font-weight: bold;
        color: #212026;
        cursor: pointer;
        transition: 0.2s;
        font-family: merriweather;
        margin-top: 8%;
        margin-bottom: 2%;
    }
    span.title-article:hover{
        color: #000;
        transition: 0.2s;
    }
    .isi-kotak{
        background-color: transparent;
        color: #737373;
        padding: 3%;
        border-left: 6px solid #6666ff;
        line-height: 190%;
        text-align: justify;
        font-family: merriweather;
    }
    i{
        font-family: merriweather;
    }
    li.isi{
        color: #343434;
        line-height: 190%;
    }
    table{
        border: 1px solid #dddddd;
        border-collapse: collapse;
    }
    th {
        background-color: #6666ff;
        color: #fff;
        padding: 2%;
        font-weight: bold;
    }
    td , th{
        border: 1px solid #dddddd;
    }
    .td1{
        background-color: #dddddd;
        padding: 1%;
        color: #212026;
        border: 1px solid #dddddd;
    }
    .td2{
        background-color: #fff;
        padding: 1%;
        color: #212026;
    }
    a.link-a{
        color: #6666ff;
        text-decoration: none;
    }
    a.link-a:hover{
        text-decoration: underline solid #6666ff;
    }
    a.link-a1{
        color: #6666ff;
        text-decoration: none;
        font-family: merriweather;
    }
    a.link-a1:hover{
        text-decoration: underline solid #6666ff;
    }


    .isi-title{
        margin-top: 3%;
        height:  60px;
        overflow: hidden;
        width: 60%;
        margin-left: 28%;
        font-size: 90%;
        color: #f2f2f2;
        margin-bottom: 6%;
    }
    .container-footer{
        background-color:  #212026;
        height: 700px;
        border-top: 4px solid darkslateblue;
    }

    .img-profile2{
        margin-top: 10%;
        width: 50%;
        margin-left: 25%;
        height: 400px;
    }
    .img-profile2 > center > img{
        width: 100%;
    }
    .img-profile2 > center > span {
        font-family: 'patua one';
        font-size: 130%;
        color: #222;
    }
    .button-download{
        margin-top: 10%;
    }
    .button-download > a {
        padding: 4%;
        border: 1px solid #222;
        text-decoration: none;
        color: #222;
    }
    .button-download > a:hover{
        color: #737373;
        border: 1px solid #737373;
    }



::-moz-selection{
    background-color: midnightblue;
    color: white;
}
::selection{
    background-color: midnightblue;
    color: white;
}
.tulisan-banner > center{
    background: #5b4eb1;
    color: white;
    font-family: 'patua one';
    font-size: 190%;
    margin-top: 20%;
    text-align: center;
    width: 25%;
    padding: 2.5%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    text-transform: capitalize;
}
.tulisan-banner > center::before{
    border-width: 50px;
    border-style: solid;
    position: absolute;
    content: " ";
    border-color: darkslateblue darkslateblue darkslateblue transparent;
    font-size: 190%;
    font-weight: normal;
    z-index: -1;
    margin-top: -1%;
    border-bottom-right-radius: 10%;
    margin-left: -13.5%;
}
.tulisan-banner > center::after{
    border-width: 50px;
    border-style: solid;
    position: absolute;
    content: " ";
    border-color: darkslateblue transparent darkslateblue darkslateblue;
    font-size: 190%;
    font-weight: normal;
    z-index: -1;
    margin-top: -1%;
    border-bottom-left-radius: 10%;
    margin-left: 6%;
}
.tulisan-bawah > center{
    font-style: italic;
    font-weight:  bold;
    color: white;
}


.copyright-isi > center{
        margin-left: 10%;
        width: 80%;
        color: #d9d9d9;
        transform: translateY(153%);
        font-size: 96%;
    }
    .copyright-isi > center > span {
        color: #6666ff;
        cursor: pointer;
    }
    .copyright-isi > center >span > a{
        color: #6666ff;
        cursor: pointer;
        text-decoration: none;
    }
    .dropdown{
        margin-left: 0%;
        margin-top: -1%;
        width: 12%;
        box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.25);
        display: none;
        position: absolute;
        transform: translateX(0) translateY(0);
        opacity: 0.98;
        /*-moz-animation-duration: 0.2s;
        -moz-animation-name: animation1-lanjutan;
        animation-name: animation1-lanjutan;
        animation-duration: 0.2s;*/
    }
    @keyframes animation1-lanjutan{
        from {transform: translateY(6%) translateX(19%);}
        to{transform: translateY(13%) translateX(19%);}
    }
    @keyframes animation1{
        from {margin-top: 2%;}
        to {margint-top: 0;;}
    }
    
/*responsive*/

@media screen and (max-width: 1024px){
    .header{
        width: 100%;
    }
    .navbar_ul1 > li > a{
        padding: 31% 20px;
        font-size: 92%;
    }
    .home-nanti-kesamping{
        margin-left: 40%;
    }
    .post-container{
        padding: 14px;
    }
    .post-isi-container .post-kedua-container .post-ketiga-container{
        width: 20%;
        box-sizing: border-box;
        display: inline;
    }
    .post-pertama{
        transform: translateY(-4%);
    }
    .post-kedua{
        margin-top: -2%;
    }
    .header-tulisan{
        margin-top: -3.5%;
        transform: translateY(240%);
        font-size: 320%;
    }
    .header-tulisan-bawah{
        font-size: 180%;
        transform: translateY(800%);
    }
    /*article*/
    .left-container{
        width: 72%;
    }
}


@media screen and (max-width: 800px){
    .navbar_ul1 > li > a{
        padding: 31px 9px;
        font-size: 13px;
    }
    .home-nanti-kesamping{
        margin-left: 45%;
    }
    .dropdown > a{
        font-size: 80%;
        padding: 12px 14px;
    }
    .header-tulisan{
        font-size: 300%;
        width: 48%;
        margin-left: 26%;
    }
    .header-tulisan-bawah{
        font-size: 160%;
        transform: translateY(860%);
    }
    .tulisan-post::after{
        margin-top: 19px;
    }
    .tulisan-post::before{
        margin-top: 19px;
    }
/*header : END */

    .post-isi-container .post-kedua-container .post-ketiga-container{
        box-sizing: border-box;
    }
    .post-isi-container{
        width: 28%;
        margin-top: -5px;
    }
    .post-container{
        height: 500px;
    }
/*post-ketiga*/
    .post-ketiga-a > img {
        height: 200px;
    }
    a.post-ketiga-a > .img-title{
        font-size: 110%;
    }
    .img-deskripsi{
        font-size: 81%;
    }
    .post-ketiga-container > .post-ketiga{
        transform: translateY(-7%);
    }
/*post-ketiga : END*/


/*post-kedua*/
    .post-kedua-a > img{
        height: 200px;
    }
    a.post-kedua-a > .img-title{
        font-size: 110%;
    }
    .img-deskripsi{
        font-size: 81%;
    }
    .post-kedua-container > .post-kedua{
        transform: translateY(-14%);
    }
/*post-kedua : END*/


/*post-pertama*/
    .post-isi-container > .post-pertama{
        transform: translateY(2.7%);
    }
    .post-pertama-a > img{
        height: 200px;
    }
    a.post-pertama-a > .img-title{
        font-size: 110%;
    }
    .img-deskripsi{
        font-size: 81%;
    }
/*post-pertama : END */
    .read-more{
        font-size: 80%;
    }
    .pagination > center > a{
        font-size: 90%;
    }
/*footer*/
    .footer-ul > ul > li{
        font-size: 160%;
    }
    .footer-ul{
        height: 70px;
    }
    .tulisan-atas-center > h3 > center{
        font-size: 90%;
    }
    #tulisan-atas > h3 > center{
        font-size: 90%;
    }

    .tag-list > #tag-baris-pertama > span{
        font-size: 80%;
    }
    .tag-list > #tag-baris-kedua > span{
        font-size: 78%;   
    }
    .tag-list > #tag-baris-ketiga > span{
        font-size: 80%;
    }
    .deskripsi-img-profile{
        font-size: 85%;
    }
    .title-popular-post{
        font-size: 95%;
    }
    .isi-title{
        margin-left: -1px;
        width: 100%;
        font-size: 80%;
    }
    .img-popular-post{
        width: 40%;
    }
}